# Dépendances
node_modules/
.pnp
.pnp.js

# Build
.next/
dist/
build/
out/

# Environnement — JAMAIS versionné
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/

# Logs
*.log
npm-debug.log*

# Système
.DS_Store
Thumbs.db

# Docker volumes locaux
storage/
uploads/
backups/

# IDE
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo

# Tests
coverage/
